page-login {

    ion-content {
        background: #ff0084;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #49082b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #49082b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    } 
    .input-cover{
        border-radius: 10%;
    }

    
    
    div img{
        margin: 0 auto;
        padding: 2px 0 8px 10px;
        height: 185px;
        width:  175px;
        border-radius: 1200%;
        align-items: center;
        display: block;

    }

    a:hover{
        color:rgb(175, 76, 175); 
    }
    

    #cerrar{
        margin-left: 87%;
        display: flex;
        display: inline;
    }

    #centrar{
        margin-top: 60px;
        display: block;
    }

    .botones{
        padding: 20 0 20 0;
        //align-items: center;
        text-align: center;        
        float: left;
        position: relative;
        margin-left: 7%;
        
        
    }

    #list{
        text-align: center;
        list-style: none;
        padding: 10px;
        color: #240a17;
        
     
    }

    ul li {
        text-align-last: auto;
        padding: 5px;
    }



    ul li a {
        text-decoration:none ;
        padding: 6px;
        margin: 2px auto;
        font-size: 15px;
        text-indent: 20%;
        color: #240a17;

    }

    #marco {
        margin: 0px 0 15px 0;
        padding: 0px 10px 10px 3px;
        border: 1px;
        border-style: solid;
        border-color: rgba(223, 220, 220, 0.925);
        border-radius: 2%;        
        background-color: #e7e3e3b6 ;
        
        
    }


}
