page-edit-datos {
    .username {
        font-size: 1.3em;
        font-style: bold;
    }
    .item-md p{
        color: #000;
    }

    .item-md ion-avatar img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
    }
}
