<ion-header>
    <ion-navbar>
      <button color="bounce" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Inicio</ion-title>

      
      <ion-buttons end>  
          <button class="login" ion-button (click)="notificaciones()" clear icon-only *ngIf="(loggedIn)">
              <ion-icon color="blanco"  name="notifications"></ion-icon>
          </button>                   
          <button class="login" color="bounce" ion-button (click)="login()" clear icon-only *ngIf="!(loggedIn)">
            <ion-icon  name="person"></ion-icon>
          </button> 
          <button class="login" ion-button (click)="logout()" clear icon-only *ngIf="(loggedIn)">
            <ion-icon color="bounce" name="md-log-out"></ion-icon>
          </button>    
      </ion-buttons>   
    </ion-navbar>
  </ion-header>
 
  <ion-content text-center>


    <ion-slides  *ngIf="items && items.length" id="sliderhome" autoplay="6000" slidesPerView="1" loop="true" effect="coverflow">
         
      <ion-slide *ngFor="let item of items" [ngStyle]="{'background' : 'url(' + item.img + ')'}" >
      
      <section class="banner">
          <span class="banner-titulo">{{item.descripcion}}</span>
         
      </section>

    </ion-slide>       
    </ion-slides>
  
 
    
        
  
   <!--  <div class="botones">
      <ion-item class="seccion2">
        <ion-card><ion-icon color="azul" name="book" (click)="Servicios()" item-start></ion-icon>
          <p>Servicios</p>
        </ion-card>
      </ion-item>
    
      <ion-item class="seccion2">
        <ion-card><ion-icon color="azul" name="star" (click)="Promocion()" item-start></ion-icon>
          <p>Promociones</p>
        </ion-card>
      </ion-item>
    
      <ion-item class="seccion2" *ngIf="(loggedIn)">
        <ion-card ><ion-icon color="azul" name="calendar" (click)="agenda()" item-start ></ion-icon>
          <p>Mi agenda</p>
        </ion-card>
      </ion-item>
    
      <ion-item class="seccion2" *ngIf="(loggedIn)">
        <ion-card><ion-icon  color="azul" name="paper" (click)="solicitud()" item-start></ion-icon>
          <p>Solicitar Cita</p>
        </ion-card>
      </ion-item>
    </div>
 -->


    <ion-grid class="botones">
        <ion-row  class="seccion2" >
          <ion-col col-2>
          <ion-row ><ion-item>
              <ion-card><ion-icon color="azul" name="book" (click)="Servicios()" item-start></ion-icon>
                <p>Servicios</p>
              </ion-card>
            </ion-item></ion-row>
          <ion-row ><ion-item  *ngIf="(loggedIn)">
              <ion-card ><ion-icon color="azul" name="calendar" (click)="agenda()" item-start ></ion-icon>
                <p>Mi agenda</p>
              </ion-card>
            </ion-item></ion-row>               
          </ion-col>
          
        </ion-row>

        <ion-row class="seccion2">
            <ion-col col-2 >
                <ion-row ><ion-item >
                  <ion-card><ion-icon color="azul" name="star" (click)="Promocion()" item-start></ion-icon>
                   <p>Promociones</p>
                  </ion-card>
                  </ion-item></ion-row>
                <ion-row><ion-item  *ngIf="(loggedIn)">
                    <ion-card><ion-icon  color="azul" name="paper" (click)="solicitud()" item-start></ion-icon>
                      <p>Solicitar Cita</p>
                    </ion-card>
                  </ion-item></ion-row>
              
              </ion-col>


        </ion-row>
        
        
      </ion-grid>











  
  
  
    <ion-card>
      <h6 class="titulos">Ultimas tendencias</h6>
    <ion-slides *ngIf="tendencias && tendencias.length" class="slidemin" #slider autoplay="9000"  spaceBetween="8" slidesPerView="3" loop="true">
  
        <ion-slide *ngFor="let tendencia of tendencias" [ngStyle]="{'background' : 'url(' + tendencia.img + ')'}"  class="minic">
            
          
        </ion-slide>
      
        
      </ion-slides>
    </ion-card>
    

    

  <!--  <ion-item item-start width="20px" height="20px">
   
   </ion-item> -->

  </ion-content>  

  <ion-footer>

     <div id="footer">
       <h3 class="letrafooter"> Luxo</h3>
      </div>
     </ion-footer>