page-home {
    
/*     ion-slides{
        height: 190px;
        padding: 0;
        margin: 0;
        
        
    }
    
    swiper-slide img {
        height: 955px;
        width: 40px;
        
      }
      ion-title.title.title-md{
          width: 50%;;
          
      }
      ion-slides #sliderhome{
          height: 80px;
      } */

      $black-overlay: rgba(249, 237, 237, 0.658);
     $text-color: #666;
     $banner-text-color: rgb(70, 70, 70);

    ion-slides,
    .swiper-container {
      height: 32vh;
      width: auto;
    }
    .swiper-slide {
      background-size: cover !important;
      background-position: center !important;
    }
    .swiper-pagination-bullet {
      background-color: white;
    }
    .sliderhome ion-slide img{
        height: 35vh;
        width: 100 vw;
        margin: 0%;
        padding: 0%;
        max-width: 100vw;

        
    }
   

    .banner {
        color: $banner-text-color;
        background: $black-overlay;
        height: 6.8vh;
        width: 100vw;
        position: absolute;
        bottom: 5px;

        .banner-titulo {
            display: block;
            font-size: 1.7rem;
            text-align: left;
            margin-left: 1.1vw;
        }

        .precio {
            display: block;
            font-size: 2.2rem;
            text-align: left;
            margin-left: 1.1vw;
        }
    }


    .custom-pagination.swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
      }
      .custom-pagination.swiper-pagination-bullet-active {
        color: #fff;
        background: #f52c2c;
        transition: transform 0.3s;
        transform: scale(1.5);
      }

      .login{
        border: 1px ;
        background-color:#ec0c71;
        border-radius: 20%;
        margin-right: 0.5em;

        
      }
      element {
        margin-top: 56px;
        background-color: #fafaf8;
    }

      #loguear{
          display:block;
          float: left;
      }

      .fondo {
          z-index: 1;         
          position: absolute;
          width: 100px;
          height: 100px;
          margin-top: 0px;
          margin-left: 0px;
          margin: auto;
          
      }
    .minic img{
        width: 120px;
        height: 140px;
        margin: 0px !important;
        padding: 0% !important;

    }
    
    ion-card {
        padding: 0px;
        
    }
    
      

    div.swiper-container.swiper-container-horizontal.swipder-container-android{
        height: 10px;
    }
    .titulos{
        margin-top: 4px;
        margin-bottom: 0px;
        color: rgb(219, 160, 31);
       //color:#64aeb1;
        margin-left:1%;
        font-size: 2.1vh;
        font-style: italic;
       // font-style: stroke;
        
        
    }
    .centrado .button-md{
        margin-top: 8px;
        margin-left: 20px;
        float: left;
        //padding: 5px;
        height: 65px;
        width: 120px;
        color: rgb(88, 44, 70);
        border-color: rgb(48, 3, 78);
        z-index: 2;
    }
    .botones{
       align-items: center;
       display: block;
       position: relative;

      // right: -3vw;
       top: -1%;
       margin: 1px 4px 2px 4px;
       //padding: 5%;
       //margin: 0 0 0 4%;
      
    }
    // modifica las ioncard botones
    .botones ion-card.card.card-md{
        width: 30vw;
        height: 10vh;
        text-align: center;
        margin-top: 0px;
    }
    .botones ion-card.card.card-md ion-icon{
        text-align: center;
        display: block;
        font-size: 25px;
        
        
    }
    ion-label.label.label-md{
        margin: 8px 7px 8px 7px;
    }

    

// esto modifca la altura de el slide de tendencias
    ion-slides.slides.slides-md.slides-1{
        height: 200px;
        padding: 0 1% 1%;
    }
//tamanio de slide pequenio de tendencias
    .slidemin{
        max-height: 16em;
    }

    #slidemin > ion-card > ion-slides > div{
        height: 50% !important;
    }

   
    .seccion2{
        max-width: 80vw;
        max-height: 30vh;
        float: left;
        margin-left: 5px;
        padding-left: 0px;
        margin-top: 0px;        
        display: block;
        
    
    }
  h1{
      position: relative;
      z-index: -5;
      
  }
  #footer{
      background-color: #ec0c71;
      height: 4vh;
      padding: 0px;
      margin-bottom: 1px;
      border: 0;
     .letrafooter{
         color: white;         
         text-align: right;
         margin-right: 1rem;
     }
      
  }

 
  
       
}
.toast-message {
    text-align: center;      
  }

 