page-home {
    
    ion-slides{
        height: 190px;
        padding: 0;
        margin: 0;
        
        
    }
    
    swiper-slide img {
        height: 955px;
        width: 40px;
        
      }
      ion-title.title.title-md{
          width: 50%;;
          
      }
      ion-slides #sliderhome{
          height: 80px;
      }

      .login{
        border: 1px ;
        background-color:#ec0c71;
        border-radius: 20%;
        margin-right: 0.5em;

        
      }
      element {
        margin-top: 56px;
        background-color: #fafaf8;
    }

      #loguear{
          display:block;
          float: left;
      }

      .fondo {
          z-index: 1;         
          position: absolute;
          width: 100px;
          height: 100px;
          margin-top: 0px;
          margin-left: 0px;
          margin: auto;
          
      }
    .minic img{
        width: 120px;
        height: 140px;
        margin: 0px !important;
        padding: 0% !important;

    }
    
    ion-card {
        padding: 0px;
        
    }
    
      

    div.swiper-container.swiper-container-horizontal.swipder-container-android{
        height: 10px;
    }
    .titulos{
        margin-top: 4px;
        margin-bottom: 0px;
        color: rgb(219, 160, 31);
       //color:#64aeb1;
        margin-left:1%;
       // font-style: stroke;
        
        
    }
    .centrado .button-md{
        margin-top: 8px;
        margin-left: 20px;
        float: left;
        //padding: 5px;
        height: 65px;
        width: 120px;
        color: rgb(88, 44, 70);
        border-color: rgb(48, 3, 78);
        z-index: 2;
    }
    .botones{
       align-items: center;
       display: block;
       position: relative;
       right: -5%;
       top: -1%;
       //padding: 5%;
       //margin: 0 0 0 4%;
      
    }
    .botones ion-card.card.card-md{
        width: 120px;
        height: 70px;
        text-align: center;
    }
    .botones ion-card.card.card-md ion-icon{
        text-align: center;
        display: block;
        font-size: 30px;
        
    }

// esto modifca la altura de el slide de tendencias
    ion-slides.slides.slides-md.slides-1{
        height: 120px;
        padding: 0 1% 1%;
    }
//tamanio de slide pequenio de tendencias
    .slidemin{
        max-height: 8em;
    }

    #slidemin > ion-card > ion-slides > div{
        height: 50% !important;
    }

   
    .seccion2{
        max-width: 45%;
        max-height: 6em;
        float: left;
        margin-left: 5px;
        padding-left: 0px;
        margin-top: 0px;        
        display: block;
    
    }
  h1{
      position: relative;
      z-index: -5;
      
  }
  #footer{
      background-color: #ec0c71;
      height: 1px;
      padding: 0px;
      margin-bottom: 1px;
      border: 0;
     ;
      border: 0;
  }

 
  
       
}