<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="scarlet">
      <ion-title >Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-content myBg" scrollbar-y-auto>

    <div id="prueba">
        <img src="assets/imgs/luxo2.png"/>
       <!-- <h1>Nury Amaro</h1> -->
    </div>
    
    <ion-list >
      <!-- <button  color="rosa" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" >
        {{p.title}}
      </button>  -->

      <button  color="scarlet" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">       
                           
          <ion-icon small [name]="p.icono" item-start></ion-icon>

         
              {{p.title}}          
            
        </button>

    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
