// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// ion-content {
//     background: #e2e2e2;  /* fallback for old browsers */
//         background: -webkit-linear-gradient(to left, #dddcdc, #dbd8da);  /* Chrome 10-25, Safari 5.1-6 */
//         background: linear-gradient(to left, #d6d3d5, #e0dedf);

// }
.myBg{
    background-color:rgb(173, 9, 91);
  }


ion-menu[side=left] .menu-inner {
    width: 220px;
    opacity: 0.9;
   
   
    
}
ion-side-menu.menu-left.menu {
    background-color: rgb(0, 112, 204) !important;
  }

  [scrollbar-y-auto] .scroll-content {
    overflow-y: auto !important;
  }
  