// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*ion-content {
    background: rgba(144,117,179,1);
    background: -moz-linear-gradient(left, rgba(144,117,179,1) 0%, rgba(233,58,137,0.61) 48%, rgba(233,58,137,0.55) 55%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(144,117,179,1)), color-stop(48%, rgba(233,58,137,0.61)), color-stop(55%, rgba(233,58,137,0.55)));
    background: -webkit-linear-gradient(left, rgba(144,117,179,1) 0%, rgba(233,58,137,0.61) 48%, rgba(233,58,137,0.55) 55%);
    background: -o-linear-gradient(left, rgba(144,117,179,1) 0%, rgba(233,58,137,0.61) 48%, rgba(233,58,137,0.55) 55%);
    background: -ms-linear-gradient(left, rgba(144,117,179,1) 0%, rgba(233,58,137,0.61) 48%, rgba(233,58,137,0.55) 55%);
    background: linear-gradient(to right, rgba(144,117,179,1) 0%, rgba(233,58,137,0.61) 48%, rgba(233,58,137,0.55) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9075b3', endColorstr='#e93a89', GradientType=1 );

}
*/
