<ion-menu [content]="content">
  <ion-header>

    <!-- si quiero que todo el side tenga degradado entonces  debo quitar las lineas del 5 al 7-->
    
  
  </ion-header>

  <ion-content class="menu-content myBg" scrollbar-y-auto>

    <div id="prueba">
        <img src="assets/imgs/luxo2.png"/>
        <h5 *ngIf="(loggedIn)">{{usuario.nombre}}{{usuario.apellido}}</h5>
        <h5 *ngIf="!(loggedIn)">Usuario invitado..</h5>
      </div>
    
    <ion-list >
      <!-- <button  color="rosa" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" >
        {{p.title}}
      </button>  -->

      <button  color="scarlet" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">       
                           
          <ion-icon small [name]="p.icono" item-start></ion-icon>

         
              {{p.title}}          
            
        </button>
    
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
